
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h4{
  font-family: cursive;
}
/* Header/logo Title */
.header {
  padding: 50px;
  text-align: center;
  background: #f1f1f1;
  color: white;
}
.empty {
  padding: 50px;
width: 100%;
  background:  #f1f1f1;
  
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.box1{
  background-color: #aaa;
  flex:1;
  padding:40px;
  text-align: left;
}
.box2{
  flex:2;
  padding:45px;
}
.box3{
  background-color: #333;
  flex:2;
  padding:30px;
}
.box4{
  background-color: #333;
  flex:1;
  padding:30px;
}
.image{
  max-width:100%;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  max-width:500px;
  padding: 20px;
  text-align: center;
}
.fakeimg3 {
  width:auto;
}
.fakeimg2 {
  background-color: #aaa;
  width: 50%;
  
  padding: 20px;
  text-align: center;
}
.fakeimg1{
  background-color: #f1f1f1;
  width: 20%;
  max-width:199px;
 min-height: 50px;
 max-height: 200px;
}
@media screen and (min-width: 760px) {
  .container1{
  display:flex;
 }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

