
/**************** class page ********************/

input:required {
    border-color: red !important;
  }
:required {
    border-color: red !important;
  }
  
.heading{
    color:#fff; 
}
.tableDateSize{
   
        display: table-cell;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: auto;
        max-width: 150px;
     
}
.attendanceTable{
padding: 5px;
}
.formHeading{
  
    text-align: center;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.mainscreen {
    width: 100%;
    height: 100vh;
    background-image:url("./images/mainscreen.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
   
  }
.backgroundPicture{
    width: 100%;
    height: 100vh;
    background-image:url("./images/background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.background{
    background-color:#808080;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 12.5%;
    top: 0;
    left: 0;
}
.alert1 {
    background-color: rgb(170, 0, 0); 
    color: rgb(45, 0, 170);
    opacity: 1;
    transition: opacity 0.9s;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
  }
#leftCol {
    position: fixed;
    width: 150px;
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#content {
    position: relative;            
    margin-left: 150px;
}
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
.margLeftRow{
    margin-left: 12.5% !important;
}
.logOut{
    margin-left: 50.5% !important;
}
.margLeftRowTable{
    margin-left: 14.5% !important;
}
.margRightRow{
    margin-right: 0.5% !important;
}
.overflow{
    overflow-x: hidden;
}
.head{
    
    color: white;
    padding: 10px;
    font-family: Arial;
    
}
.navLink2{
    display: block;
    height: auto;
    background-color: #6e6e6dff;
    color: #ffffff;
    width:80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    margin-left: 10%;
    font-size: 120%;
    transition: background 0.2s ease-in;
    border: 0;
    text-align: left;
    
}
.box{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid grey;
    padding: 10px;
    margin: 20px;
  }
.navLink2:hover{
    background:#808080;
    color: #ffffff;
    text-decoration: none;
}

.topSet{
    margin-top: 20%;
}

.backBar{
    background-color: #6e6e6dff;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.backBar1{
    background-color: #6e6e6dff;
    height: auto;
    width: 70%;
    margin-left: 10%;
    margin-top: 2%;
}

.backBar h1{
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-size: 150%;
    text-align: center;
    padding: 0.5% 0;
}

.formStyle{
    margin-left: 10%;
}

.formField{
    width: 70% !important;
}

.formMargin{
    margin-left: 22%;
    
}
.viewMargin{
    margin-left: 15%;
    margin-right: 2%;
}
.tableMargin{
    margin-right: 5%;
    
}
.tableMarginFormal{
    margin-right: 5%;
    margin-left: 5%;
    
}
.tableMarginHorizontal{
    margin-right: 15%;
    
}

.Border{
    
    width: 80%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-left: 5%;
}
.button5{
    border-radius: 100%;
    padding: 3px;
  border:none;
}
.sideButton1{
    background-color:rgb(255, 255, 255) !important;
    border-color: #46B6B1;
    border: 2px solid;
    font-size:24px;
    
}
.tableHeading{
    background-color:#808080;
    color: #ffffff;
}
.sideButton2{
    background-color:#fff!important;
    border-color:#9E3535;
    color: #9E3535;
    border: 2px solid;
    font-size:24px;
   
}
.sideButton3{
    background-color:#fff!important;
    border-color:#2A9539;
    color: #2A9539 ;
    border: 2px solid;
    font-size:24px;
}
.sideButton6{
    background-color:#fff!important;
    border-color:#c3c548;
    color:#c3c548;
    border: 2px solid;
    font-size:24px;
}
.sideButton7{
    background-color:#fff!important;
    border-color:#832a95;
    color:#832a95;
    border: 2px solid;
    font-size:24px;
}
.sideButton4{
    background-color:rgb(97, 168, 115)!important;
    font-size: 1.5rem;
    border-color:#fefffe;
    color: #ffffff ;
    outline: none !important;
}
.sideButton5{
    background-color:rgb(235, 85, 48)!important;
    font-size: 1.5rem;
    border-color:#fefffe;
    color: #ffffff ;
    outline: none !important;
}


.formButton{
    background-color:#808080 !important;
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    min-width: 130px;
    max-width: 300px;
}
.sizeFilter{
    width:130px;
}

  .cardLarge {
    /* Add shadows to create the "card" effect */
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20%;
    width:250px;
    padding:15px;
    margin-left: 18%;
    margin-bottom: 20px;
  }
.cardBtn {
    /* Add shadows to create the "card" effect */
    width:150px;
    height:100px;
    border-radius: 20%;
    margin-left: 30px;
    margin-bottom: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:20%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   /* On mouse-over, add a deeper shadow */
  .cardBtn:hover {
    box-shadow: 0 8px 20px 0 rgba(2, 74, 168, 0.2);
  }

.empty {
    padding: 30px;
    width: 100%;
    background:  #fff;
    
  }

.formButton:hover{
    background-color: #6e6e6dff;
    color: #ffffff;
}
.respNav{
    display: none !important;
}
.box1{
    flex:1;
    padding:10px;
    margin:25%;
    background-color: #fff;
  }
  .box2{
    flex:1;
    padding:10px;
    background-color: #fff;
  }
  @media screen and (min-width: 760px) {
    .container1{
    display:flex;
   }
}
/**************** class page ********************/

@media (max-width: 320px){
    
    .card
    {
        margin-left: 2%;  
    }
    .cardLarge {
        margin-left: 2%;
      }
    .margLeftRow{
        margin-left: 2.5% !important;
    }
    .margLeftRowTable{
        margin-left: 2.5% !important;
    }
    .respNav{
        display: block !important;
        background-color:#808080 
    }

    .background{
        display: none;
    }

    .NavLink{
        color: #ffffff !important;
        text-align: center;
    }

    .NavLink:hover{
        background:#5a8b9c;
        color: #ffffff;
        text-decoration: none;
    }

    .formMargin{
        margin-left: 12%;
       
    }

    .backBar{
        background-color: #6e6e6dff;
        height: auto;
        width: 90%;
        margin-left: 0%;
        margin-top: 2%;
    }

    .formStyle{
        margin-left: 5%;
    }

    .Border{
        border: 1px solid #c7c7c7;
        width: 80%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        margin-left: 0.5%;
    }

    .formField{
        width: 85% !important;
    }
}


@media (min-width: 321px) and (max-width: 575.98px){
    .card
    {
        margin-left: 2%;  
    }
    .cardLarge {
        margin-left: 2%;
      }
    .margLeftRow{
        margin-left: 2% !important;
    }
    .margLeftRowTable{
        margin-left: 2% !important;
    }
    .respNav{
        display: block !important;
        background-color: #69a0b3;
    }

    .background{
        display: none;
    }

    .NavLink{
        color: #ffffff !important;
        text-align: center;
    }

    .NavLink:hover{
        background:#5a8b9c;
        color: #ffffff;
        text-decoration: none;
    }

    .formMargin{
        margin-left: 12%;
    }

    .backBar{
        background-color: #6e6e6dff;
        height: auto;
        width: 90%;
        margin-left: 0%;
        margin-top: 2%;
    }

    .formStyle{
        margin-left: 5%;
    }

    .Border{
        border: 1px solid #c7c7c7;
        width: 80%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        margin-left: 0.5%;
    }

    .formField{
        width: 85% !important;
        
    }
}


@media (min-width: 576px) and (max-width: 767.98px){

}


@media (max-width: 767.98px){

}


@media (min-width: 768px) and (max-width: 991.98px){
    

    
}



@media (min-width: 992px) and (max-width: 1199.98px){

}


@media (max-width: 767px){

}


@media (min-width: 767px){

}
@media print {
    .noprint {
        display: none;
    }
}
@media screen and (min-width: 760px) {
    .container1{
    display:flex;
   }
  }